body {
	font-family: VT323, sans-serif;
	background-color:darksalmon;
}
h1 {
	font-family: VT323;
	color:indigo;
}
p {
	color:black;
}
tenor-gif-embed{
	max-width:50;
	max-height:60;
}
.center {
	text-align: center;
}
